html
  head
    title Guestbook
    link(rel='stylesheet', type='text/css', href='/css/default.css')
  body
    h1 Guestbook

    a(href='/leavemsg') Leave Message

    - for (var index in msgs)
      div.block
        div.name #{msgs[index].name}
        div.msg #{msgs[index].msg}
